<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration">
    <stringAttribute key="org.codehaus.groovy.eclipse.launch.runType" value="com.rtb.groovy.MethodsDemo"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/sts-4.11.1.RELEASE/plugins/org.codehaus.groovy_4.0.0.v202112311605-e2106-RELEASE/lib/groovy-4.0.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/sts-4.11.1.RELEASE/plugins/org.codehaus.groovy_4.0.0.v202112311605-e2106-RELEASE/lib/groovy-test-4.0.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;C:/sts-4.11.1.RELEASE/plugins/org.codehaus.groovy_4.0.0.v202112311605-e2106-RELEASE/lib/ivy-2.5.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_SOURCE_PATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.codehaus.groovy.tools.GroovyStarter"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--classpath &quot;C:\sts-4.11.1.RELEASE\plugins\org.codehaus.groovy_4.0.0.v202112311605-e2106-RELEASE\lib\groovy-4.0.0.jar;C:\sts-4.11.1.RELEASE\plugins\org.codehaus.groovy_4.0.0.v202112311605-e2106-RELEASE\lib\ivy-2.5.0.jar;${workspace_loc:groovy_demo}\bin;${workspace_loc:groovy_demo}\src&quot; --main groovy.ui.GroovyMain --encoding Cp1252 &quot;${workspace_loc:groovy_demo\src\com\rtb\groovy\MethodsDemo.groovy}&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="groovy_demo"/>
    <listAttribute key="org.eclipse.jdt.launching.SOURCE_PATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-16&quot; javaProject=&quot;groovy_demo&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry id=&quot;org.eclipse.jdt.launching.classpathentry.defaultClasspath&quot;&gt;&#13;&#10;    &lt;memento exportedEntriesOnly=&quot;false&quot; project=&quot;groovy_demo&quot;/&gt;&#13;&#10;&lt;/runtimeClasspathEntry&gt;&#13;&#10;"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dgroovy.home=&quot;${groovy_home}&quot; -Djava.system.class.loader=groovy.lang.GroovyClassLoader"/>
</launchConfiguration>
